html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

#root {
  height: 100%;
}

.not-found-image {
  max-width: 1000px;
  height: auto;
  margin-top: 20px;
}